{% extends 'banner.html.twig' %}
{% block content %}
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            setInterval(reloadPage, 30000);
            function reloadPage() {
                $.ajax({
                    url: '/Coursework_main/coursework_public/downloadmessages',
                    type: 'GET',
                    success: function (data) {
                        document.querySelector("html").innerHTML = data;
                    }
                });
            }
        });
    </script>
    <title> Secure Web Application </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="page-content-div">
    <p>A total of<b> {{ message_count }} new messages </b>have been downloaded into the messages database.</p>
    <p>A confirmation SMS has been sent to the following user's registered phone number: <b>{{ user }}</b></p>
    <table class="border">
        <caption>Table showing downloaded messages with their content & metadata</caption>
        <thead>
        <tr>
            <th>Source Number</th>
            <th>Destination Number</th>
            <th>Time/Date Received</th>
            <th>Bearer</th>
            <th>Message Ref</th>
            <th>Temperature</th>
            <th>Fan</th>
            <th>Switch1</th>
            <th>Switch2</th>
            <th>Switch3</th>
            <th>Switch4</th>
            <th>Keypad</th>
        </tr>
        {% for message in message_list %}
            <tr>
                <td>{{ message.source is not empty ? message.source : 'N/A' }}</td>
                <td>{{ message.destination is not empty ? message.destination : 'N/A' }}</td>
                <td>{{ message.received is not empty ? message.received : 'N/A' }}</td>
                <td>{{ message.bearer is not empty ? message.bearer : 'N/A' }}</td>
                <td>{{ message.ref is not empty ? message.ref : 'N/A' }}</td>
                <td>{{ message.temperature is not empty ? message.temperature : 'N/A' }}</td>
                <td>{{ message.fan is not empty ? message.fan : 'N/A' }}</td>
                <td>{{ message.switchOne is not empty ? message.switchOne : 'N/A' }}</td>
                <td>{{ message.switchTwo is not empty ? message.switchTwo : 'N/A' }}</td>
                <td>{{ message.switchThree is not empty ? message.switchThree : 'N/A' }}</td>
                <td>{{ message.switchFour is not empty ? message.switchFour : 'N/A' }}</td>
                <td>{{ message.keypad is not empty ? message.keypad : 'N/A' }}</td>
            </tr>
        {% endfor %}
        </thead>
    </table>
    <br><br>
    <form action="/coursework_public/downloadmessages">
        <button type="submit">Refresh</button>
    </form>
</div>
{% endblock %}