{% extends 'banner.html.twig' %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="page-content-div">
        <p> Welcome to our Telemetry Data Processing site.</p>
        <p> Please click on the All Messages button above on the navigation bar</p>

        <form method={{ method }} action="{{ action }}">
            <fieldset>
                <legend>{{ page_title }}</legend>
                <br>
                <label for="message_list">{{ page_text }}:</label>
                <select id="message_list" name="message_list" required>
                    {% for text in message_list %}
                        <option value="{{ text }}">{{ text }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit" value="Display the sub languages >>>">
                <br><br>
                <input type="reset" value="Reset Language List">
            </fieldset>
        </form>
    </div>
{% endblock %}
